@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('Inter-roman.var.woff2?v=3.18') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('Inter-italic.var.woff2?v=3.18') format('woff2');
}

@font-face {
    font-family: 'Tajawal';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'normal';
    src: url('./public/fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
}
