<div class="flex flex-auto overflow-x-scroll">
    <!-- Users list -->
    <div class="flex flex-auto flex-col sm:mb-18 sm:overflow-y-auto">
        @if (users$ | async; as users) {
            @if (users.length > 0) {
                <div class="grid">
                    <!-- Header -->
                    <div
                        [ngClass]="['grid', gridClass]"
                        class="text-secondary sticky top-0 z-10 w-full gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        matSort
                        matSortDisableClear
                    >
                        @for (th of tableHead; track trackByFn($index, th)) {
                            <div
                                [mat-sort-header]="th.id"
                                class="flex w-20 items-center justify-start"
                            >
                                {{ th.name }}
                            </div>
                        }
                    </div>

                    <!-- Rows -->
                    @if (users$ | async; as users) {
                        @for (user of users; track trackByFn($index, user)) {
                            <div
                                [ngClass]="['grid', gridClass || 'grid-cols-6']"
                                class="w-full min-w-[750px] cursor-pointer gap-4 border-b px-6 py-3 md:px-8"
                                (click)="openDetails(user.id)"
                            >
                                <!-- Image -->
                                <div class="flex items-center justify-start">
                                    <div
                                        class="relative mr-6 flex h-12 w-12 flex-0 items-center justify-center overflow-hidden rounded border"
                                    >
                                        @if (user.avatarUrl) {
                                            <img
                                                class="w-full object-cover"
                                                [alt]="'user image'"
                                                [src]="user.avatarUrl"
                                            />
                                        }
                                        @if (!user.avatarUrl) {
                                            <div
                                                class="flex h-full w-full items-center justify-center text-center text-xs font-semibold uppercase leading-none"
                                            >
                                                NO THUMB
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- Name -->
                                <div class="flex items-center justify-start">
                                    {{ user.name }}
                                </div>

                                <!-- Active -->
                                <div
                                    class="mx-2 flex items-center justify-start"
                                >
                                    @if (user.isVerified && !isAdminUsers) {
                                        <mat-icon
                                            class="text-green-400 icon-size-5"
                                            [svgIcon]="'heroicons_solid:check'"
                                        ></mat-icon>
                                    }
                                    @if (!user.isVerified && !isAdminUsers) {
                                        <mat-icon
                                            class="text-red-400 icon-size-5"
                                            [svgIcon]="'heroicons_solid:x-mark'"
                                        ></mat-icon>
                                    }
                                    @if (isAdminUsers) {
                                        {{ user.guard }}
                                    }
                                </div>

                                <!-- Status-->
                                @if (!isAdminUsers) {
                                    <div
                                        class="flex items-center justify-start"
                                    >
                                        <div class="min-w-4">
                                            <div
                                                [ngClass]="
                                                    user.isActive
                                                        ? 'bg-green-400'
                                                        : 'bg-red-400'
                                                "
                                                class="rounded-md px-2 py-1 text-sm text-white"
                                            >
                                                {{
                                                    user.isActive
                                                        ? 'Active'
                                                        : 'Inactive'
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                }

                                <!-- Block -->
                                <div class="flex items-center justify-start">
                                    <div
                                        [ngClass]="
                                            !user.isBlocked
                                                ? 'bg-green-400'
                                                : 'bg-red-400'
                                        "
                                        class="rounded-md px-2 py-1 text-sm text-white"
                                    >
                                        {{
                                            user.isBlocked
                                                ? 'Blocked'
                                                : 'Not Blocked'
                                        }}
                                    </div>
                                </div>

                                <!-- Last Login -->
                                <div class="flex items-center justify-start">
                                    {{ user.lastLoginAt | date: 'short' }}
                                </div>

                                <!-- Details button -->
                                <div
                                    class="flex w-full items-center justify-end"
                                >
                                    @if (!isAdminUsers) {
                                        <button
                                            class="h-7 min-h-7 min-w-10 px-2"
                                            (click)="
                                                toggleActive(user.id, $event)
                                            "
                                            [matTooltip]="'Toggle Active'"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_outline:power'
                                                "
                                            ></mat-icon>
                                        </button>
                                    }
                                    <button
                                        class="h-7 min-h-7 min-w-10 px-2"
                                        (click)="toggleBlock(user.id, $event)"
                                        [matTooltip]="'Toggle Block'"
                                    >
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="
                                                'heroicons_outline:no-symbol'
                                            "
                                        ></mat-icon>
                                    </button>

                                    <button
                                        class="h-7 min-h-7 min-w-10 px-2"
                                        (click)="openDeleteDialog(user, $event)"
                                        [matTooltip]="'Delete'"
                                    >
                                        <mat-icon
                                            class="text-red-500 icon-size-5"
                                            [svgIcon]="
                                                'heroicons_outline:trash'
                                            "
                                        ></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid">
                                @if (selectedUser?.id === user.id) {
                                    <ng-container
                                        *ngTemplateOutlet="
                                            rowDetailsTemplate;
                                            context: {
                                                $implicit: user,
                                            }
                                        "
                                    ></ng-container>
                                }
                            </div>
                        }
                    }
                </div>

                <mat-paginator
                    class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                    [ngClass]="{ 'pointer-events-none': isLoading }"
                    [length]="pagination.length"
                    [pageIndex]="pagination.page"
                    [pageSize]="pagination.size"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                ></mat-paginator>
            } @else {
                <div
                    class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                >
                    There are no users!
                </div>
            }
        }
    </div>
</div>
