@font-face {
    font-family: 'Tajawal';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'normal';
    src: url('Tajawal-Medium.ttf') format('truetype');
}
