<div class="my-0 h-10">
    <mat-form-field appearance="fill" color="rounded-xl">
        <mat-select
            [(value)]="selectedValue"
            (selectionChange)="onSelectionChange($event.value)"
            [placeholder]="placeholder"
        >
            <!-- Custom template for the selected value -->
            <mat-select-trigger>
                <div class="flex items-center gap-3">
                    <img
                        *ngIf="getSelectedOption()?.icon"
                        [src]="getSelectedOption()?.icon"
                        class="h-6 w-6 rounded-full object-cover object-center"
                    />
                    <span>{{ getSelectedOption()?.label }}</span>
                </div>
            </mat-select-trigger>
            <mat-option *ngFor="let option of options" [value]="option.value">
                <div class="flex items-center gap-3">
                    <img
                        *ngIf="option.icon"
                        [src]="option.icon"
                        class="h-6 w-6 rounded-full object-cover object-center"
                    />
                    <div>
                        {{
                            isObservable(option.label$)
                                ? (option.label$ | async)
                                : option.label
                        }}
                    </div>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
