<h2 mat-dialog-title class="mb-3 text-xl font-medium">{{ data.title }}</h2>
<mat-dialog-content>
    <p [dir]="dir">{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions
    align="end"
    class="flex items-center justify-center space-x-3 bg-gray-50 px-6 py-4 dark:bg-black dark:bg-opacity-10 sm:ltr:justify-end sm:rtl:justify-start"
>
    <button
        mat-button
        mat-dialog-close
        [disabled]="data.disableClose"
        class="rounded-full border border-gray-300 px-4 py-2 hover:bg-gray-100 dark:border-gray-500 dark:hover:bg-black dark:hover:bg-opacity-5"
    >
        {{ 'common.buttons.cancel' | translate }}
    </button>
    <button
        mat-button
        [mat-dialog-close]="true"
        class="rounded-full bg-red-400 px-4 py-2 text-white hover:bg-red-500"
    >
        {{ 'common.buttons.confirm' | translate }}
    </button>
</mat-dialog-actions>
