<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <mat-drawer-container
        class="bg-card h-full flex-auto dark:bg-transparent"
        (backdropClick)="onBackdropClicked()"
    >
        <mat-drawer
            class="w-full dark:bg-gray-900 md:w-160"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer
        >
            <contacts-details
                [toggleDrawer]="toggleDrawer"
                [type]="activeTabIndex === 1 ? 'admin' : 'web'"
            />
        </mat-drawer>
        <!-- Header -->
        <mat-drawer-content>
            <div
                class="relative flex flex-0 flex-col px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
            >
                <!-- Loader -->
                @if (isLoading) {
                    <div class="absolute inset-x-0 bottom-0">
                        <mat-progress-bar
                            [mode]="'indeterminate'"
                        ></mat-progress-bar>
                    </div>
                }
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight">
                    {{ 'users.title' | translate }}
                </div>
                <!-- Actions -->
                <div
                    class="mt-6 flex shrink-0 items-center gap-4 sm:ml-4 sm:mt-0"
                >
                    <!-- Search -->
                    <mat-form-field
                        class="fuse-mat-dense fuse-mat-rounded min-w-64"
                        [subscriptSizing]="'dynamic'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:magnifying-glass'"
                        ></mat-icon>
                        <input
                            matInput
                            [formControl]="searchInputControl"
                            [autocomplete]="'off'"
                            placeholder="
                               {{ 'users.search.placeholder' | translate }}
                            "
                        />
                    </mat-form-field>

                    <!-- Add user button -->
                    <button
                        class="px-4 py-2"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="addUser()"
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:plus'"
                            class="icon-size-4 md:icon-size-5"
                        ></mat-icon>
                        <span class="text-sm md:text-lg">
                            {{ 'common.buttons.add' | translate }}</span
                        >
                    </button>
                </div>
            </div>
            <div
                class="my-4 flex shrink-0 flex-wrap items-center justify-start gap-y-6 px-6 sm:mt-0 md:justify-between md:px-8"
            >
                <div class="flex items-center gap-4">
                    <app-dropdown
                        [options]="statusOptions"
                        placeholder="{{ 'users.filters.status' | translate }} "
                        [(selectedValue)]="selectedStatusOption"
                        (selectionChange)="onStatusChange($event)"
                    ></app-dropdown>
                    <app-dropdown
                        [options]="roleOptions"
                        placeholder="{{ 'users.filters.role' | translate }}"
                        [(selectedValue)]="selectedRoleOption"
                        (selectionChange)="onRoleChange($event)"
                    ></app-dropdown>
                </div>
                <div class="flex items-center gap-4">
                    <button
                        class="md:ml-4"
                        (click)="resetFilters()"
                        mat-stroked-button
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:arrow-path'"
                            class="icon-size-5"
                        ></mat-icon>
                        <span class="ml-2 mr-1 text-sm">{{
                            'common.buttons.reset' | translate
                        }}</span>
                    </button>
                    <button
                        (click)="exportToExcel()"
                        class="md:ml-4"
                        mat-stroked-button
                    >
                        <mat-icon
                            [svgIcon]="'heroicons_outline:arrow-up-tray'"
                            class="icon-size-5"
                        ></mat-icon>
                        <span class="ml-2 mr-1 text-sm">{{
                            'common.buttons.export' | translate
                        }}</span>
                    </button>
                </div>
            </div>

            <mat-tab-group
                class="overflow-y-scroll"
                (selectedTabChange)="onTabChange($event)"
            >
                <mat-tab label="{{ 'users.tabs.webUsers' | translate }} ">
                    <!-- Main -->
                    <app-users-table
                        [users$]="users$"
                        [tableHead]="tableHead"
                        [pagination]="pagination"
                        [activeTabIndex]="'web'"
                        [toggleDetails]="toggleDrawer"
                    />
                </mat-tab>
                <mat-tab label="{{ 'users.tabs.dashboardUsers' | translate }} ">
                    <app-users-table
                        [users$]="users$"
                        [tableHead]="adminTableHead"
                        [pagination]="pagination"
                        [activeTabIndex]="'admin'"
                        [toggleDetails]="toggleDrawer"
                    />
                </mat-tab>
            </mat-tab-group>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
